.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container section {
  width: 100%;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.uploadContainer {
  display: block;
  float: left;
}

.hidden {
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls textArea {
  height: 60vh;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.shortEntry {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.bigEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: fit-content;
  resize: none;
}

.input {
  outline: none;
  border: none;
  font-size: 25px;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--color-bg);
  border-radius: 5px;
}

.checkbox {
  display: inline;
  width: auto;
}

.ratingLabel {
  margin-top: 20px;
}

.ratingInput {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

@media only screen and (min-width: 769px) {
  .container {
    flex-direction: row;
  }

  .container section {
    width: 60vw;
    margin-right: 1rem;
  }
}
