/* 
    MOBILE SCREEN
*/

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.container p {
  margin: 0;
}

.select {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 10px) calc(50% - 0px),
    calc(100% - 5px) calc(50% - 0px), calc(100% - 2.5px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.option {
  padding: 10px;
}

.optionFirst {
  padding: 10px;
  font-weight: bold;
}

.feed {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
  gap: 1.5rem;
}

.button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: var(--color-olivedrab);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 
    DESKTOP SCREEN
*/

@media (min-width: 769px) {
  .select {
    background-position: calc(100% - 10px) calc(50% - 0px),
      calc(100% - 5px) calc(50% - 0px), calc(100% - 2.5px) 50%;
    font-size: 14px;
    padding-right: 20px;
  }
}
