/* 
    MOBILE SCREEN
*/
.feed {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
  gap: 1.5rem;
}

.active {
  background-color: var(--color-olivedrab); /* or any other color you want */
}

/* 
    DESKTOP SCREEN
*/

@media (min-width: 769px) {
}
