/* 
    MOBILE SCREEN
*/

.nav {
  height: 60px;
  width: 100%;
  background: white;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  font-weight: bold;
  border-bottom: 2px solid var(--color-olivedrab);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  /* Add drop shadow to the bottom of the nav */
  box-shadow: 0 0 15px rgba(7, 48, 0, 0.15);
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  width: 50%;
  height: 100%;
  gap: 1rem;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  width: 30%;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  height: 100%;
}

.breadEmoji {
  font-size: 20px;
}

.logo {
  font-size: 0.7rem;
  color: var(--color-green);
}

.btn-base {
  background-color: var(--color-green);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.loggedIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profilePic {
  border-radius: 50%;
}

/* 
    DESKTOP SCREEN
*/

@media (min-width: 769px) {
  .logo {
    font-size: 0.8rem;
  }

  .leftSide {
    width: 20%;
    padding: 20px;
  }

  .rightSide {
    width: 20%;
    padding: 20px;
  }

  .center {
    width: 60%;
  }
}
