/* 
    MOBILE SCREEN
*/

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1.5rem 0;
  background-color: whitesmoke;

  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-green);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 20px;
}

.usernameContainer {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 10px;
}

.username {
  width: 100%;
  height: fit-content;
  font-size: 0.9rem;
  margin: 0;
}

.profilePic {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.placeholderPic {
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-bg);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  height: fit-content;
  font-size: 1.2rem;
  margin: 0;
}

.dish {
  font-weight: 400;
  margin: 0;
}

.rating {
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: whitesmoke;
  background-color: var(--color-olivedrab);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 250px;
  margin-bottom: 40px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;
}

.date {
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.heartContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

.heartContainer p {
  margin: 0;
}

.editOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.loadButton {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-green);
}

/* 
    DESKTOP SCREEN
*/

@media (min-width: 769px) {
  .header {
    flex-direction: row;
  }

  .info {
    align-items: flex-start;
    justify-content: flex-start;
    height: 250px;
    width: 300px;
    margin-bottom: 40px;
  }

  .imageContainer {
    width: 300px;
    height: 250px; /* Set a fixed height */
  }

  .image {
    max-width: 300px;
    max-height: 250px; /* Set a fixed height */
    border-radius: 10px; /* Add border radius */
  }
}
