.container {
  min-height: 100vh;
  display: flex;
}

.container section {
  width: 80%;
}

.container aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  text-align: center;
  position: sticky;
  top: 80px;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container section {
    width: 100%;
  }

  .container aside {
    top: 0;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
  }
}
