/* 
    MOBILE SCREEN
*/
.right {
  display: none;
}

/* 
    DESKTOP SCREEN
*/
@media (min-width: 769px) {
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
  }
}
